* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: #f4f6f8;
    color: #333;
    line-height: 1.6; */
    margin: 0;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-size: 28px;
}

header p {
    margin-top: 8px;
    font-size: 14px;
}

header p:hover {
    color: rgb(79, 237, 79);
}


.about {
    background-color: rgb(206, 201, 203);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 100vh;
    /* text-align: left; */
    
}

.myself {
    max-width: 50%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    block-size: 400px;
}

#name {
    color: rgb(78, 45, 45);
    font-size: 50px;
    margin-bottom: 20px;
}

.myself p {
    /* font-size: 16px; */
    margin-bottom: 20px;
}

button {
    background-color: rgb(154, 237, 239);
    /* color: white */
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #1d4ed8;
    color: white;
}

.Skills {
    background-color:  rgb(186, 185, 186);
    /* display: flex;
    align-items: right;
    justify-content: right; */
    /* padding: 80px 10%; */
    padding: 10px 5%;
    text-align: center;
}

.Skills h2 {
    text-align: center;
    margin-bottom: 30px;
}

.Skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
}

.Skills li {
    background-color: #e5e7eb;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.Projects {
    background-color: rgb(171, 167, 169);
    /* margin-bottom: 15px; */
    padding: 40px 10%;
}

.Project_Work h3 {
    color: #2563eb;
    margin-bottom: 5px;
}

#Resume {
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1e293b;
    color: white;
    /* margin-top: 20px; */
    font-size: 14px;
}

@media (max-width: 768px) {
    section {
        margin: 20px;
    }

    .skills ul {
        flex-direction: column;
    }
}