* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-size: 28px;
}

header a {
    color: white;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none; 
}

header a:hover {
    color: rgb(79, 237, 79);
}


.about {
    background-color:#e6f5f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    min-height: 80vh;
    
}

.myself {
    max-width: 50%;
}

.my-image img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 300px;
    border-radius: 10px;
}

#name {
    color: rgb(78, 45, 45);
    font-size: 50px;
    margin-bottom: 20px;
}

.myself p {
    margin-bottom: 20px;
}

button {
    /* background-color: rgb(154, 237, 239); */
    background-color: #a8bffd;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #31d499;
    color: rgb(12, 12, 12);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.Skills {
    background-color: #d4ebf0;
    padding: 20px 10%;
    text-align: center;
}

.Skills h2 {
    text-align: center;
    margin-bottom: 30px;
}

.Skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
}

.Skills li {
    background-color: #e5e7eb;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.Projects {
    /* background-color:   #a9ddea; */
    background-color: #d4ebf0;;
    padding: 40px 10%;
}

.Project_Work h3 {
    color: #2563eb;
    margin-bottom: 5px;
}

#Resume {
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1e293b;
    color: white;
    font-size: 14px;
}

@media (max-width: 768px) {
    section {
        margin: 20px;
    }

    .Skills ul {
        flex-direction: column;
    }
}