* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, beige, rgb(248, 248, 193));
    padding: 20px 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("poster.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.hero button {
    background-color: rgb(137, 231, 231);
    padding: 10px 25px;
    border-radius: 8px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.hero button:hover {
    background-color: rgb(146, 237, 146);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.collection {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);

}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.cards div {
    z-index: 1;
}

.card {
    background-color: #f3f3f3;
    position: relative;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

#c1 {
    background: url("women.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

#c2 {
    background: url("men.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#c3 {
    background: url("accessories.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.card h2,
.card p {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.about {
    background-color: #fafafa;
    padding: 50px 25px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(243, 113, 202), rgb(252, 149, 220));
}

.about p {
    padding: 20px;
}

.action {
    background: linear-gradient(to bottom, pink, rgb(239, 102, 125));
    color: rgb(11, 10, 10);
    text-align: center;
    padding: 50px 25px;
}

.action button {
    background-color: whitesmoke;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: bold
}

.action button:hover {
    background: linear-gradient(to right, rgb(203, 235, 240), rgb(132, 198, 242));
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}